################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/.vs
/Source/ESF_1.sln.DotSettings.user
/Source/Composition.ESF_1/obj
/Source/Composition.ESF_1/bin/Debug/netstandard2.0
/Source/Contract.ESF_1/obj
/Source/Contract.ESF_1/bin/Debug/netstandard2.0
/Source/Interceptors.ESF_1/obj
/Source/Interceptors.ESF_1/bin/Debug/netstandard2.0
/Source/UnitOfWork.ESF_1/obj
/Source/UnitOfWork.ESF_1/bin/Debug/netstandard2.0
/Source/Contract.ESF_1/bin/Release/netstandard2.0
/Source/Composition.ESF_1/bin/Release/netstandard2.0
/Source/Interceptors.ESF_1/bin/Release/netstandard2.0
/Source/UnitOfWork.ESF_1/bin/Release/netstandard2.0
